@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;



:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
}

body {
    margin: 0;
    min-width: 320px;
    min-height: 100vh;
}

* {
    font-family: "Varela Round", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.pet-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    padding: 0 20px;
}

@media (max-width: 1024px) {
    .pet-grid {
        grid-template-columns: repeat(3, 1fr);
        gap: 25px;
    }
}

@media (max-width: 768px) {
    .pet-grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }
}

@media (max-width: 480px) {
    .pet-grid {
        grid-template-columns: 1fr;
        gap: 15px;
    }
}

/* SearchBar.module.css */

.searchContainer {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.searchInput {
    padding: 10px;
    width: 200px;
    max-width: 300px;
    border-radius: 20px;
    border: 1px solid #D3C8A5;
    margin-right: 10px;
    outline: none;
    background-color: #F5E9C9;
    color: #000;
}

.filterContainer {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    flex-wrap: wrap;
    gap: 10px;
}

.filterSelect {
    padding: 10px;
    width: 150px;
    border-radius: 20px;
    border: 1px solid #D3C8A5;
    background-color: #F5E9C9;
    color: #000;
    outline: none;
    margin-right: 10px;
}

/* Responsive adjustments */
@media (max-width: 600px) {
    .searchInput {
        width: 100%;
        margin-right: 0;
    }

    .filterSelect {
        width: 100%;
        margin-right: 0;
        margin-bottom: 10px;
    }
}

@media (min-width: 601px) and (max-width: 900px) {
    .filterSelect {
        width: 120px;
    }
}

/* Remove margin-right for the last filter select */
.filterContainer :last-child .filterSelect {
    margin-right: 0;
}

select:focus,
input:focus {
    outline: none;
    box-shadow: none;
}